@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #ddcfa4;
}

#tentacles {
    width: 50px;
}


.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
h1 {
    font-size: 40px;
}
h2, p {
    margin-left: 2rem;
}
h2 {
    margin-top: 3rem;
    font-size: 2rem
}
p {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.75rem;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container > div{
    transition: box-shadow 0.125s;
}
.stats-container > div:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #62fff7;
}

.stats-card {
    background-color: #c0cbdb;
    border-radius: 7px;
    padding: 0.65%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 40px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    transition: box-shadow 0.125s;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #62fff7;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    font-size: 1.25rem;
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    transition: box-shadow 0.125s;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #62fff7; 
}

button:active {
    opacity: 50%;
}